<%- include('../partials/header') -%>
<title>Location, Salles</title>
<link rel="stylesheet" href="/css/tabsProducts.css">
<link rel="stylesheet" href="/css/user.css">

</head>
<body>
 

  <div class="container">
    <%- include('../partials/sidebar') -%>
  
    <div class="main-content">

      <div class="tabs">
        <ul class="tab-list" id="tabList">
          <!-- First tab for all rooms -->
          <li class="tab-label" onclick="showTabContent('content-allRooms')">
            Toutes les salles
          </li>
          <% batiments.forEach((batiment) => { %>
            <li class="tab-label" onclick="showTabContent('content-<%= batiment.name %><%= batiment.id %>')">
              <%= batiment.name %> 
              <% if (user.role === "kingAdmin" ){%>
                de <%= batiment.Establishment.name %>
              <%}%>
            </li>
          <% }); %>
        </ul>
        <div class="tab-content" id="tabContent">
          <!-- Content section for the first tab (All Products) -->
          <div class="content" id="content-allRooms">
            <% rooms.forEach((room) => { %>
              <div class="product-item">
                <div class="product-cart">
                  <p><strong>Nom:</strong> <%= room.name %></p>
                  <p><strong>Capacité:</strong> <%= room.capacity %></p>
                  <p><strong>Prix:</strong> <%= room.price %></p>
                  <% if (room.Batiment) { %> <!-- Check if room.Batiment is defined -->
                    <p><strong>Appartient au bâtiment:</strong> <%= room.Batiment.name %></p> <!-- Use room.Batiment.name -->
                    <p><strong>Adresse:</strong> <%= room.Batiment.adresse %></p>
                    
                  <% } else { %>
                    <p><strong>Appartient au bâtiment:</strong> Non spécifié</p>
                  <% } %>
                  <div class="button-container">
                    <% if (hasPermission) { %>
                      <a href="/rooms/<%= room.id %>" class="edit-button">Voir</a>
                    <% } else { %>
                      <button type="button" class="disabled" disabled>Can't view this salle</button>
                    <% } %>
                   
                    <% if (hasPermission1) { %>
                      <a href="/reservations/create/<%= room.id %>" class="reserve-button">Réserve</a>
                    <% } else { %>
                      <button type="button" class="disabled" disabled>Can't reserve this salle</button>
                    <% } %>
                    
                  </div>
                  <!-- Add other room details as needed -->
                  
                </div>
              </div>
            <% }); %>
          </div>
          <!-- Content sections for other tabs -->
          <% batiments.forEach((batiment) => { %>
            <div class="content" id="content-<%= batiment.name %><%= batiment.id %>" style="display: none;">
              <% rooms.forEach((room) => { %>
                <% if (room.batiment_id === batiment.id) { %>
                  <div class="product-item">
                    <div class="product-cart">
                      <p><strong>Nom:</strong> <%= room.name %></p>
                      <p><strong>Capacité:</strong> <%= room.capacity %></p>
                      <p><strong>Prix:</strong> <%= room.price %></p>
                      <p><strong>Adresse:</strong> <%= room.Batiment.adresse %></p>

                      <div class="button-container">
                        <% if (hasPermission) { %>
                          <a href="/rooms/<%= room.id %>" class="edit-button">Voir</a>
                        <% } else { %>
                          <button type="button" class="disabled" disabled>Can't view this salle</button>
                        <% } %>
                       
                        <% if (hasPermission1) { %>
                          <a href="/rooms/<%= room.id %>/reserve" class="reserve-button">Réserve</a>
                        <% } else { %>
                          <button type="button" class="disabled" disabled>Can't reserve this salle</button>
                        <% } %>

                      </div>
                      <!-- Add other room details as needed -->
                    </div>
                  </div>
                <% } %>
              <% }); %>
            </div>
          <% }); %>
          <% 
          if (hasPermission2) { %>
            <a href="/rooms/create-salle" class="add-salle-button">Ajouter une salle</a>
            <% } else { %>
            <button type="button" class=" disabled" disabled>Can't create a building</button>   
          <% } %>
        </div>
      </div>
      
    </div>
  </div>
  <script src="/js/tabs.js"></script>
</body>
</html>