<%- include('../partials/header') -%>

<title><%= param.name %> Profile</title>
<!-- <link rel="stylesheet" href="/css/bootstrap.min.css"> -->
<link rel="stylesheet" href="/css/tabsProducts.css">
<link rel="stylesheet" href="/css/user.css">

<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/slider.css">

<!-- Slick CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css">
</head>
<body>
    <div class="container">
        <%- include('../partials/sidebar') -%>
        <div class="main-content">
            <h1 class="mb-4"> <%= param.room.name %></h1>

            <div class="row">
                <div class="col-md-5">
                    <table class="user-profile-table">
                        <tr>
                            <td>ID:</td>
                            <td><%= param.room.id %></td>
                        </tr>
                        <tr>
                            <td>Nom:</td>
                            <td><%= param.room.name %></td>
                        </tr>
                        <tr>
                            <td>Capacité:</td>
                            <td><%= param.room.capacity %></td>
                        </tr>
                        <tr>
                            <td>Prix:</td>
                            <td><%= param.room.price %></td>
                        </tr>

                        <!-- Existing Code -->
                        <tr>
                            <td>Appartient au bâtiment:</td>
                            <% if (param.room.Batiment) { %>
                                <td><%= param.room.Batiment.name %></td>
                            <% } else { %>
                                <td>N/A</td>
                            <% } %>
                        </tr>
                        <tr>
                            <td>Adresse:</td>
                            <% if (param.room.Batiment) { %>
                                <td><%= param.room.Batiment.adresse %></td>
                            <% } else { %>
                                <td>N/A</td>
                            <% } %>
                        </tr>
                        <!-- Remaining Code -->

                        
                    </table>
                </div>
                <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
                <link href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.css" rel="stylesheet" />
                <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script>
                 -->
                <div class="col-md-7">

                    <div class="photo-container">
                        <% if (param.images && param.images.length > 0) { %>
                          <div class="photo-slider rev_slider">
                            <% param.images.forEach((image) => { %>
                              <div class="slider-item rev_slide">
                                <img src="/images/rooms/<%= image.name %>" alt="<%= image.description %>" class="img-fluid">
                              </div>
                            <% }); %>
                          </div>
                        <% } else { %>
                          <p class="no-photo-message">Pas de photos disponibles pour cette salle.</p>
                        <% } %>
                    </div>
                      
                </div>                
            </div>

            <div class="actions-container text-center mt-4">
                <% let hasPermission1 = isKing(user) || reservePermission
                    let hasPermission2 = isKing(user) || editPermission
                    let hasPermission3 = isKing(user) || deletePermission 
                %>
                <% if (hasPermission1) { %>
                    <a href="/reservations/create/<%= param.room.id %>" class="reserve-button">Réserve</a>
                <% } else { %>
                    <button type="button" class="disabled" disabled>Can't Reserve this Salle</button>
                <% } %>

                <% if (hasPermission2) { %>
                    <a href="<%= param.room.id %>/edit" class="edit-button">Modifier</a>
                <% } else { %>
                    <button type="button" class="disabled" disabled>Can't Edit this Salle's info</button>
                <% } %>

                <% if (hasPermission3) { %>
                    <a href="/rooms/<%= param.room.id %>/delete" class="delete-button" onclick="return confirmDelete()">Supprimer</a>

                <% } else { %>
                    <button type="button" class="disabled" disabled>Can't delete this Salle</button>
                <% } %>
            </div>
        </div>
    </div>

    <script src="/js/delete.js"></script>

    <!-- Slick JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    
    <script src="/js/slider.js"></script>
</body>
</html>
