<%- include('../partials/header') -%>
<title>Location, Etablissements</title>
<link rel="stylesheet" href="/css/user.css">
<link rel="stylesheet" href="/css/profile.css">
</head>
<body>
    <div class="container">
        <%- include('../partials/sidebar') -%>
        <div class="main-content">
            <% if (user.role === "kingAdmin") { %>
            
                <h1>Tous les établissements</h1>
                <table class="user-table">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        
                        <th>Voir</th>
                        <th>Modifier</th>
                        
                        <th> Roles</th>
                    </tr>
                    </thead>
                    <tbody>
                    <% establishments.forEach(establishment => { %>
                        <tr>
                            <td><%= establishment.name %> </td>

                            <td align="center">
                                <a href="/establishments/<%= establishment.id %>" class="view-button" >View</a>
                            </td>

                            <td align="center">
                                <a href="/establishments/<%= establishment.id %>/edit" class="view-profile-button">Modifier</a>
                            </td>
                            
                            <td align="center">
                                <a href="/roles/<%= establishment.id %>" class="edit-button" >Roles</a>
                            </td>
                            
                        </tr>
                    <% }) %>
                    </tbody>
                </table>
    
                <a href='/establishments/create-establishment' class="add-user-button">Ajouter un établissement</a>
                <% if (typeof errorMessage !== 'undefined') { %>
                    <div class="alert alert-danger mt-3">
                        <%= errorMessage %>
                    </div>
                <% } %>
                <% if (successMessage) { %>
                    <br>
                    <div class="alert alert-success">
                        <%= successMessage %>
                    </div>
                <% } %>
            
            <% } else if (user.role === "superAdmin") { %>

                <h1>Votre établissement</h1>
                <table class="user-table">
                    <thead>
                    <tr>
                        <th>Nom</th>
                        
                        <th>Modifier</th>
                        <th>Supprimer Votre Compte</th>
                        <th> Roles</th>

                    </tr>
                    </thead>
                    <tbody>
                        <% establishments.forEach(establishment => { %>
                            <% if (establishment.id == user.establishmentId) { %>
                                <tr>
                                    <td><%= establishment.name %></td>
                                    <td align="center">
                                        <a href="/establishments/<%= establishment.id %>/edit" class="view-profile-button">Modifier</a>
                                    </td>
                                    <td align="center">
                                        <a href="/establishments/<%= establishment.id %>/delete" class="delete-button" onclick="return confirmDelete()">Supprimer</a>
                                    </td>
                                    <td align="center">
                                        <a href="/roles/<%= establishment.id %>" class="edit-button" >Roles</a>
                                    </td>
                                </tr>
                            <% } %>
                        <% }) %>

                        <% if (successMessage) { %>
                            <br>
                            <div class="alert alert-success">
                                <%= successMessage %>
                            </div>
                        <% } %>
                        
                    </tbody>
                </table>
            <% } else { %>
                <h1 align="center">there's nothing here to see,<a href="/" style="text-decoration: none;"> go home.</a></h1>

            <% } %>
        </div>
        


        
    </div>

    <script src="/js/delete.js"></script>

</body>
</html>