<!-- editProfile.ejs -->
<%- include('../partials/header') -%>
<title>Edit <%= param.firstName %> <%= param.lastName %> Profile</title>

<% if (user.role === "kingAdmin" || user.establishmentId == param.id) { %>
    
<link rel="stylesheet" href="/css/editProfile.css">
</head>
<body>
    <div class="container">
        <%- include('../partials/sidebar') -%>
        <div class="main-content">
            <h1>Modifier le nom d'établissement</h1>
            <form action="/establishments/<%= param.id %>/edit" method="POST">
                <label for="name">Nom:</label>
                <input type="text" id="name" name="name" value="<%= param.name %>">
                            
                <label for="adresse">adresse:</label>
                <input type="text" id="adresse" name="adresse" value="<%= param.adresse %>">

                <label for="codePostal">codePostal:</label>
                <input type="text" id="codePostal" name="codePostal" value="<%= param.codePostal %>">

                <label for="country">country:</label>
                <input type="text" id="country" name="country" value="<%= param.country %>">

                <label for="SIRET">SIRET:</label>
                <input type="text" id="SIRET" name="SIRET" value="<%= param.SIRET %>">

                <label for="bankName">Nom de banque:</label>
                <input type="text" id="bankName" name="bankName" value="<%= param.bankName %>">

                <label for="IBAN">IBAN:</label>
                <input type="text" id="IBAN" name="IBAN" value="<%= param.IBAN %>">

                <label for="BIC">BIC:</label>
                <input type="text" id="BIC" name="BIC" value="<%= param.BIC %>">

                <button type="submit">Enregistrer les modifications</button>
            </form>
        </div>
    </div>

<% } else { %>
    <h1 align="center">there's nothing here to see,<a href="/" style="text-decoration: none;"> go home.</a></h1>
<% } %>
<%- include('../partials/footer') -%>

</body>
</html>