<!-- profile Etablissement.ejs -->
<%- include('../partials/header') -%>

<title><%= param.name %> Profile</title>
<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/user.css">
</head>
<body>
    <div class="container">
        <%- include('../partials/sidebar') -%>
        <div class="main-content">
            <h1>Profil de l'etablissement <%= param.name %></h1>
            <table class="user-profile-table">
                <tr>
                    <td colspan="3" align="center">ID:</td>
                    <td colspan="3" align="center"><%= param.id %></td>
                </tr>
                <tr>
                    <td colspan="3" align="center">Nom:</td>
                    <td colspan="3" align="center"><%= param.name %></td>
                    
                </tr>
                <tr>
                    <td colspan="3" align="center">Adressee:</td>
                    <td colspan="3" align="center"><%= param.adresse %></td>
                    
                </tr>
                <tr>
                    <td colspan="3" align="center">codePostal:</td>
                    <td colspan="3" align="center"><%= param.codePostal %></td>
                    
                </tr>
                
                <tr>
                    <td colspan="3" align="center">Pays:</td>
                    <td colspan="3" align="center"><%= param.country %> </td>
                    
                </tr>

                <tr>
                    <td colspan="3" align="center">SIRET:</td>
                    <td colspan="3" align="center"><%= param.SIRET %></td>
                    
                </tr>
               
                <tr>
                    <td colspan="3" align="center">Nom de banque:</td>
                    <td colspan="3" align="center"><%= param.bankName %></td>
                    
                </tr>
                

                <tr>

                    <td colspan="3" align="center">IBAN:</td>
                    <td colspan="3" align="center"><%= param.IBAN %> </td>
                                       
                </tr>

                <tr>

                    <td colspan="3" align="center">BIC:</td>                    
                    <td colspan="3" align="center"><%= param.BIC %> </td>
                    
                    
                </tr>
                
                <tr>


                    <% let hasPermission = isKing(user) || (editPermission && belongTo(param.id,user.establishmentId))  %>

                    <% if (hasPermission) { %>
                        <td colspan="3" align="center">
                            <a href="<%= param.id %>/edit" class="edit-button">Modifier</a>
                        </td>
                        
                    <% } else { %>
                        <td>
                            <button type="button" class="disabled" disabled>Can't Edit this Client</button>
                        </td>
                    <% } %>
                    <% let hasPermission2 = isKing(user) || (deletePermission && belongTo(param.id,user.establishmentId)) %>
    
                    <% if (hasPermission2) { %>
                        <td colspan="3" align="center">
                            <a href="<%= param.id %>/delete" class="delete-button" onclick="return confirmDelete()">Supprimer</a>
                        </td>
                        
                    <% } else { %>
                        <td>
                            <button type="button" class="disabled" disabled>Can't Delete this Client</button>
                        </td>
                    <% } %>

                   
                </tr>

                <tr>
                    <td colspan="3" align="center">
                        <a href="/users" class="view-button" >utilisateurs</a>
                    </td>
                    <td colspan="3" align="center">
                        <a href="/batiments" class="view-button"> Bâtiments</a>
                    </td>
                    <td colspan="3" align="center">
                        
                        <a href="/rooms" class="view-button"> Salles</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>

<script src="/js/delete.js"></script>


