<%- include('../partials/header') -%>
<title>Location, Clients</title>
<link rel="stylesheet" href="/css/user.css">
<link rel="stylesheet" href="/css/tooltip.css">

</head>
<body>
    <div class="container">
        <%- include('../partials/sidebar') -%>
        <div class="main-content">
            <h1>Tous les clients</h1>
            <table class="user-table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <% if (user.role === "kingAdmin") { %>
                            
                            <th>Établissement</th>
                        <% } %>
                        <th>Profile</th>
                    </tr>
                </thead>
                <tbody>
                    <% clients.forEach(client => { %>
                        <tr>
                            <td>
                                <%= client.firstName %> <%= client.lastName %>
                                <div class="hoverMe"> 👤
                                    <span class="hoverText">
                                        <% if (user.role === "kingAdmin") { %>
                                            <%= client.User.firstName %> de <%= client.User.Establishment.name %>
                                        <% } else { %>
                                            <%= client.User.firstName %>
                                        <% } %>
                                    </span>
                                </div>
                            </td>
                            <% if (user.role === "kingAdmin") { %>
                                <td><%= client.User.Establishment.name %></td>
                            
                            <% } %>
                            <td><a href="/clients/<%= client.id %>" class="view-profile-button">Voir profile</a></td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>

            <a href='/clients/create-client' class="add-user-button">Ajouter un client</a>
            <% if (typeof errorMessage !== 'undefined') { %>
                <div class="alert alert-danger mt-3">
                    <%= errorMessage %>
                </div>
            <% } %>
        </div>
    </div>

<%- include('../partials/footer') -%>
</body>
</html>
