<%- include('../partials/header') -%>
<title>Location, Clients</title>
<link rel="stylesheet" href="/css/user.css">
<link rel="stylesheet" href="/css/tooltip.css">

</head>
<body>
    <div class="container">
        <%- include('../partials/sidebar') -%>
        <div class="main-content">
            <h1>Tous les clients</h1>
            <table class="user-table">
                <thead>
                    <tr>
                        <th>Nom</th>
                        
                        <th>Profile</th>
                    </tr>
                </thead>
                <tbody>
                    <% let currentEstablishment = null; %>
                    <% clients.forEach(client => { %>
                        <% if (user.role === "kingAdmin") { %>
                            <% if (client.User.Establishment.name !== currentEstablishment) { %>
                                <tr class="establishmentTab">
                                    <td colspan="3" class="center establishmentName"><%= client.User.Establishment.name %></td>
                                </tr>
                                <% currentEstablishment = client.User.Establishment.name; %>
                            <% } %>
                        <% } %>
                        <tr>
                            <td>
                                <%= client.firstName %> <%= client.lastName %>
                                <% if (user.role === "kingAdmin") { %>
                                    <div class="hoverMe"> 👤
                                        <span class="hoverText">
                                            <%= client.User.firstName %> de <%= client.User.Establishment.name %>
                                        </span>
                                    </div>
                                <% }else {%>
                                    <div class="hoverMe"> 👤
                                        <span class="hoverText">
                                            <%= client.User.firstName %>
                                        </span>
                                    </div>

                                <%} %>
                                
                                
                            </td>
                            
                            
                                <% let hasPermission = isKing(user) || (viewPermission && belongTo(client.User.establishmentId,user.establishmentId)) || belongTo(client.idUser,user.id)
                                    
                                %>
                                
                                <% if (hasPermission) { %>
                                    <td><a href="/clients/<%= client.id %>" class="view-profile-button">Voir profile</a></td>
                                <% } else { %>
                                    <td>
                                        <button type="button" class=" disabled" disabled>Can't View this Client</button>
                                    </td>
                                <% } %>
                        </tr>
                    <% }) %>
                </tbody>
            </table>

            <a href='/clients/create-client' class="add-user-button">Ajouter un client</a>
            <% if (typeof errorMessage !== 'undefined') { %>
                <div class="alert alert-danger mt-3">
                    <%= errorMessage %>
                </div>
            <% } %>
        </div>
    </div>

<%- include('../partials/footer') -%>
</body>
</html>
