<!-- editProfile.ejs -->
<%- include('../partials/header') -%>
<title>Edit <%= param.firstName %> <%= param.lastName %> Profile</title>
<link rel="stylesheet" href="/css/editProfile.css">
</head>
<body>
    <div class="container">
        <%- include('../partials/sidebar') -%>
        <div class="main-content">
            <h1>Edit Client Profile</h1>
            <form action="/clients/<%= param.id %>/edit" method="POST">
                <label for="firstName">Prénom:</label>
                <input type="text" id="firstName" name="firstName" value="<%= param.firstName %>">

                <label for="lastName">Nom de famille:</label>
                <input type="text" id="lastName" name="lastName" value="<%= param.lastName %>">

                <label for="email">Adresse e-mail:</label>
                <input type="email" id="email" name="email" value="<%= param.email %>">

                <label for="phoneNumber">Numéro de tél:</label>
                <input type="text" id="phoneNumber" name="phoneNumber" value="<%= param.phoneNumber %>">

                <label for="adresse">Adresse postal:</label>
                <input type="adresse" id="adresse" name="adresse" value="<%= param.adresse %>">

                <label for="companyName">Nom d'entreprise:</label>
                <input type="companyName" id="companyName" name="companyName" value="<%= param.companyName %>">

                <% if (user.role === "kingAdmin") { %>
                    <div class="mb-3">
                      <label for="userName" class="form-label">User Name</label>
                      <select class="form-select" id="userName" name="userName" required>
                        <option value="" disabled>Select a user</option>
                        <% let currentEstablishment = null; %>
                        <% users.forEach(findUser => { %>
                          <% if (findUser.Establishment.id !== currentEstablishment) { %>
                            <optgroup label="<%= findUser.Establishment.name %>" disabled></optgroup>
                            <% currentEstablishment = findUser.Establishment.id; %>
                          <% } %>
                          <option value="<%= findUser.id %>" <%= findUser.id === param.User.id ? 'selected' : '' %>><%= findUser.firstName %> <%= findUser.lastName %></option>
                        <% }); %>
                      </select>
                    </div>
                  <% } %>
                  


                <button type="submit">Enregistrer les modifications</button>
            </form>
        </div>
    </div>

<%- include('../partials/footer') -%>

</body>
</html>
