<!-- profileClient.ejs -->
<%- include('../partials/header') -%>

<title><%= param.firstName %> <%= param.lastName %> Profile</title>
<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/user.css">
</head>
<body>
    <div class="container">
        <%- include('../partials/sidebar') -%>
        <div class="main-content">
            <h1>Profil du client</h1>
            <table class="user-profile-table">
                <tr>
                    <td>ID:</td>
                    <td><%= param.id %></td>
                </tr>
                <tr>
                    <td>Prénom:</td>
                    <td><%= param.firstName %></td>
                    
                </tr>
                <tr>
                    <td>Nom de famille:</td>
                    <td><%= param.lastName %></td>
                    
                </tr>
                <tr>
                    <td>Adresse e-mail:</td>
                    <td><%= param.email %></td>
                    
                </tr>
                
                <tr>
                    <td>Numéro de tél:</td>
                    <td><%= param.phoneNumber %> </td>
                    
                </tr>

                <tr>
                    <td>Adresse:</td>
                    <td><%= param.adresse %></td>
                    
                </tr>
                <% if (param.companyName) { %>
                    <tr>
                        <td>Nom d'entreprise:</td>
                        <td><%= param.companyName %></td>
                        
                    </tr>
                <% } %>

                <tr>

                    <td>Lié à:</td>
                    <td><%= param.User.firstName %> </td>
                                       
                </tr>

                <tr>

                    <td>Créé par:</td>
                    <%if (param.createdBy) { %>
                        <td><%= createdByUser.firstName %> </td>
                    <%} else { %>
                        <td>l'utilisateur a été supprimé ce client est maintenant lié à un superAdmin </td>
                    <%} %>
                    
                </tr>
                
                <tr>
                
                <% let hasPermission = isKing(user) || (editPermission && belongTo(param.User.establishmentId,user.establishmentId)) || belongTo(param.createdBy,user.id) %>

                <% if (hasPermission) { %>
                    <td colspan="3" align="center">
                        <a href="<%= param.id %>/edit" class="edit-button">Modifier</a>
                    </td>
                    
                <% } else { %>
                    <td>
                        <button type="button" class="disabled" disabled>Can't Edit this Client</button>
                    </td>
                <% } %>
                <% let hasPermission2 = isKing(user) || (deletePermission && belongTo(param.User.establishmentId,user.establishmentId)) || belongTo(param.createdBy,user.id) %>

                <% if (hasPermission2) { %>
                    <td colspan="3" align="center">
                        <a href="<%= param.id %>/delete" class="delete-button" onclick="return confirmDelete()">Supprimer</a>
                    </td>
                    
                <% } else { %>
                    <td>
                        <button type="button" class="disabled" disabled>Can't Delete this Client</button>
                    </td>
                <% } %>


                <!-- ////////////////////////// -->






                    <% /* if (bigger_than(user.role, param.User.role) || belongTo(param.User.id,user.id)) { */%>
                    
                        <!-- <td colspan="3" align="center">
                            <a href="<%= param.id %>/edit" class="edit-button">Modifier</a>
                            
                            <a href="<%= param.id %>/delete" class="delete-button" onclick="return confirmDelete()">Supprimer</a>
                        </td> -->
                    <% /*} else { */%>
                    <%/* }*/ %>
                   
                </tr>
            </table>
        </div>
    </div>

<script src="/js/delete.js"></script>


