<%- include('../partials/header') -%>
<title>Location, Batiments</title>
<link rel="stylesheet" href="/css/user.css">
</head>
<body>
    <div class="container">
        <%- include('../partials/sidebar') -%>
        <div class="main-content">
            <h1>Tous les b창timents</h1>
            <table class="user-table">
                <thead>
                <tr>
                    <th>Nom</th>
                    
                    <th>Profile</th>
                </tr>
                </thead>
                <tbody>
                   <% let currentEstablishment = null; %>
                    <% batiments.forEach(batiment => { %>
                        <% if (user.role === "kingAdmin") { %>
                            
                            <% if (batiment.Establishment.id !== currentEstablishment) { %>
                                <tr class="establishmentTab">
                                    <td colspan="2" class="center establishmentName"><%= batiment.Establishment.name %></td>
                                </tr>
                                <% currentEstablishment = batiment.Establishment.id; %>
                            <% } %> 
                        <% } %>
                        <tr>
                            <td><%= batiment.name %></td>
                            <% let hasPermission = isKing(user) || viewPermission
                            if (hasPermission) { %>
                                <td><a href="/batiments/<%= batiment.id %>" class="view-profile-button">Voir le b창timent</a></td>
                            <% } else { %>
                                <td><button type="button" class="disabled" disabled>Can't view a building</button>   </td>
                            <% } %>
                            <!-- <td><a href="/batiments/<%= batiment.id %>" class="view-profile-button">Voir le b창timent</a></td> -->
                        </tr>
                    <% }) %>
                    
                </tbody>
            </table>
            

            <% let hasPermission2 = isKing(user) || createPermission
            if (hasPermission2) { %>
                <a href='/batiments/create-batiment' class="add-user-button">Ajouter un b창timent</a>
            <% } else { %>
                <button type="button" class=" disabled" disabled>Can't create a building</button>   
            <% } %>

            <% if (typeof errorMessage !== 'undefined') { %>
                <div class="alert alert-danger mt-3">
                    <%= errorMessage %>
                </div>
            <% } %>
        </div>
    </div>

<%- include('../partials/footer') -%>

</body>
</html>