<%- include('../partials/header') -%>
<title>Location, Batiments</title>
<link rel="stylesheet" href="/css/user.css">
</head>
<body>
    <div class="container">
        <%- include('../partials/sidebar') -%>
        <div class="main-content">
            <h1>Tous les b창timents</h1>
            <table class="user-table">
                <thead>
                <tr>
                    <th>Nom</th>
                    
                    <th>Profile</th>
                </tr>
                </thead>
                <tbody>
                    <% if (user.role === "kingAdmin") { %>
                        <% let currentEstablishment = null; %>
                        <% batiments.forEach(batiment => { %>
                            <% if (batiment.Establishment.id !== currentEstablishment) { %>
                                <tr class="establishmentTab">
                                    <td colspan="2" class="center establishmentName"><%= batiment.Establishment.name %></td>
                                </tr>
                                <% currentEstablishment = batiment.Establishment.id; %>
                            <% } %>
                            <tr>
                                <td><%= batiment.name %></td>
                                <td><a href="/batiments/<%= batiment.id %>" class="view-profile-button">Voir le b창timent</a></td>
                            </tr>
                        <% }) %>
                    <% } else { %>
                        <% batiments.forEach(batiment => { %>
                            <tr>
                                <td><%= batiment.name %></td>
                                <td><a href="/batiments/<%= batiment.id %>" class="view-profile-button">Voir le b창timent</a></td>
                            </tr>
                        <% }) %>
                    <% } %>
                </tbody>
            </table>
            <% if (user.role === "kingAdmin" || user.role === "superAdmin" || user.role === "admin") { %>
                <a href='/batiments/create-batiment' class="add-user-button">Ajouter un b창timent</a>
            <% } %>

            <% if (typeof errorMessage !== 'undefined') { %>
                <div class="alert alert-danger mt-3">
                    <%= errorMessage %>
                </div>
            <% } %>
        </div>
    </div>

<%- include('../partials/footer') -%>

</body>
</html>