<!-- editProfile.ejs -->
<%- include('../partials/header') -%>
<title>Edit <%= param.name %> Profile</title>
<link rel="stylesheet" href="/css/editProfile.css">
</head>
<body>
    <div class="container">
        <%- include('../partials/sidebar') -%>
        <div class="main-content">
            <h1>Modifier les détails de bâtiment</h1>
            <form action="/batiments/<%= param.id %>/edit" method="POST" enctype="multipart/form-data">
                <label for="name">Nom:</label>
                <input type="text" id="name" name="name" value="<%= param.name %>">

                <label for="adresse">Adresse:</label>
                <input type="text" id="adresse" name="adresse" value="<%= param.adresse %>">

                <label for="photo">Sélectionner une nouvelle photo:</label>
                <input type="file" id="photo" name="photo" accept="image/*">
                
                <% if (user.role === "kingAdmin") { %>
                    
                    <label for="establishment" class="form-label">Establishment</label>
                    <select class="form-select" id="establishment" name="establishment" required>
                    <option value="" selected disabled>Select an establishment</option>
                    
                    <% establishments.forEach(establishment => { %>
                        <option value="<%= establishment.id %>"  <%= establishment.id === param.establishmentId ? 'selected' : '' %>><%= establishment.name %> </option>
                    <% }); %>
                    </select>
                    
                <% } %>

                
                <button type="submit">Enregistrer les modifications</button>
            </form>
        </div>
    </div>

<%- include('../partials/footer') -%>

</body>
</html>
