<!-- editProfile.ejs -->
<%- include('../partials/header') -%>
<title>Edit <%= param.name %> Profile</title>
<link rel="stylesheet" href="/css/editProfile.css">
</head>
<body>
    <div class="container">
        <%- include('../partials/sidebar') -%>
        <div class="main-content">
            <h1>Edit Batiment detailes</h1>
            <form action="/batiments/<%= param.id %>/edit" method="POST" enctype="multipart/form-data">
                <label for="name">Name:</label>
                <input type="text" id="name" name="name" value="<%= param.name %>">

                <label for="adresse">Address:</label>
                <input type="text" id="adresse" name="adresse" value="<%= param.adresse %>">

                <label for="photo">Select a new photo:</label>
                <input type="file" id="photo" name="photo" accept="image/*">

                <button type="submit">Save Changes</button>
            </form>
        </div>
    </div>

<%- include('../partials/footer') -%>

</body>
</html>
