<!-- profileClient.ejs -->
<%- include('../partials/header') -%>

<title><%= param.name %> Profile</title>
<link rel="stylesheet" href="/css/bootstrap.min.css">

<link rel="stylesheet" href="/css/profile.css">
<link rel="stylesheet" href="/css/user.css">
</head>
<body>
    <div class="container">
        <%- include('../partials/sidebar') -%>
        <div class="main-content">
            <h1 class="mb-4">Bâtiment <%= param.name %></h1>

            <div class="row">
                <div class="col-md-6">
                    <table class="user-profile-table">
                        <tr>
                            <td>ID:</td>
                            <td><%= param.id %></td>
                        </tr>
                        <tr>
                            <td>Nom:</td>
                            <td><%= param.name %></td>
                        </tr>
                        <tr>
                            <td>Adresse:</td>
                            <td><%= param.adresse %></td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <div class="photo-container">
                        <% if (param.photo) { %>
                            <img src="/images/bulidings/<%= param.photo %>" alt="Batiment Photo" class="img-fluid">
                        <% } else { %>
                            <p class="no-photo-message">Aucune photo disponible</p>
                        <% } %>
                    </div>
                </div>
            </div>

            <div class="actions-container text-center mt-4">
                <a href="/products#content-<%= param.name %>" class="view-button">Voir les salles</a>

                <% let hasPermission = isKing(user) || (editPermission && belongTo(param.User.establishmentId,user.establishmentId)) || belongTo(param.idUser,user.id) %>

                <% if (hasPermission) { %>
                    <td colspan="3" align="center">
                        <a href="<%= param.id %>/edit" class="edit-button">Modifier</a>
                    </td>
                    
                <% } else { %>
                    <td>
                        <button type="button" class="disabled" disabled>Can't Edit this Building's info</button>
                    </td>
                <% } %>
                <% let hasPermission2 = isKing(user) || (deletePermission && belongTo(param.User.establishmentId,user.establishmentId)) || belongTo(param.idUser,user.id) %>

                <% if (hasPermission2) { %>
                    <td colspan="3" align="center">
                        <a href="<%= param.id %>/delete" class="delete-button" onclick="return confirmDelete()">Supprimer</a>
                    </td>
                    
                <% } else { %>
                    <td>
                        <button type="button" class="disabled" disabled>Can't Delete this Building</button>
                    </td>
                <% } %>




                <!-- <a href="<%= param.id %>/edit" class="edit-button">Modifier</a>
                <a href="<%= param.id %>/delete" class="delete-button" onclick="return confirmDelete()">Supprimer</a> -->
            </div>
        </div>
    </div>

    <script src="/js/delete.js"></script>
    
</body>
