<%- include('../partials/header') -%>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header bg-primary text-white">
          <h4 class="mb-0">Créer une nouvelle Reservation</h4>
        </div>
        <div class="card-body">
          <form action="/reservations/create-reservation" method="POST">
            
            <div class="mb-3">
                <label for="clientId" class="form-label">Select Client</label>
                <select class="form-control" id="clientId" name="clientId" required>
                  <% clients.forEach((client) => { %>
                  <option value="<%= client.id %>"><%= client.firstName %> <%= client.lastName %></option>
                  <% }); %>
                </select>
            </div>

            <div class="mb-3">
              <label for="startDate" class="form-label">Start Date</label>
              <input type="date" class="form-control" id="startDate" name="startDate" required>
            </div>

            <div class="mb-3">
              <label for="endDate" class="form-label">End Date</label>
              <input type="date" class="form-control" id="endDate" name="endDate" required>
            </div>

            <div class="mb-3">
              <label for="reason" class="form-label">Reason</label>
              <input type="text" class="form-control" id="reason" name="reason" placeholder="Optional Reason">
            </div>

            <div class="mb-3">
              <label for="nbrPeople" class="form-label">Number of People</label>
              <input type="number" class="form-control" id="nbrPeople" name="nbrPeople" required>
            </div>

            <div class="mb-3">
                <label for="status" class="form-label">Status</label>
                <select class="form-control" id="status" name="status" required>
                  <option value="sent">Sent</option>
                  <option value="waiting">Waiting</option>
                  <option value="validated">Validated</option>
                  <option value="done">Done</option>
                </select>
              </div>


            <div align="center">
              <button type="submit" class="btn btn-primary">Créer une réservation</button>
            </div>
          </form>

          <% if (typeof errorMessage !== 'undefined') { %>
          <div class="alert alert-danger mt-3">
            <%= errorMessage %>
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../partials/footer') -%>
