<!-- editProfile.ejs -->
<%- include('../partials/header') -%>
<title>Edit <%= user.firstName %> <%= user.lastName %> Profile</title>
<link rel="stylesheet" href="/css/editProfile.css">
</head>
<body>
    <div class="container">
        <%- include('../partials/sidebar') -%>
        <div class="main-content">
            <h1>Edit User Profile</h1>
            <form action="/users/<%= user.id %>/edit" method="POST">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" value="<%= user.firstName %>">

                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" value="<%= user.lastName %>">

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="<%= user.email %>">

                <label for="role">Role:</label>
                <input type="text" id="role" name="role" value="<%= user.role %>">

                <button type="submit">Save Changes</button>
            </form>
        </div>
    </div>

<%- include('../partials/footer') -%>

</body>
</html>
