<!-- editProfile.ejs -->
<%- include('../partials/header') -%>
<title>Edit <%= findUser.firstName %> <%= findUser.lastName %> Profile</title>
<!-- <link rel="stylesheet" href="/css/profile.css"> -->
<link rel="stylesheet" href="/css/editProfile.css">
</head>
<body>
    <div class="container">
        <%- include('../partials/sidebar') -%>
            <div class="main-content">
                <h1>Edit User Profile</h1>
                <form action="/users/<%= findUser.id %>/edit" method="POST">
                    <label for="firstName">First Name:</label>
                    <input type="text" id="firstName" name="firstName" value="<%= findUser.firstName %>">

                    <label for="lastName">Last Name:</label>
                    <input type="text" id="lastName" name="lastName" value="<%= findUser.lastName %>">

                    <label for="email">Email:</label>
                    <input type="email" id="email" name="email" value="<%= findUser.email %>">

                    <% if (user.role === "kingAdmin" && user.id !== findUser.id) { %>

                        
                        <label for="role">Role:</label>
                        <select id="role" name="role">
                            <option value="editor" <%= findUser.role === 'editor' ? 'selected' : '' %>>Rédacteur</option>
                            <option value="admin" <%= findUser.role === 'admin' ? 'selected' : '' %>>Admin</option>
                            <option value="superAdmin" <%= findUser.role === 'superAdmin' ? 'selected' : '' %>>Super Admin</option>
                        </select>
                        
                    <% } else if (user.role === "superAdmin" && user.id !== findUser.id ) { %>

                        <label for="role">Role:</label>
                        <select id="role" name="role">
                            <option value="editor" <%= findUser.role === 'editor' ? 'selected' : '' %>>Rédacteur</option>
                            <option value="admin" <%= findUser.role === 'admin' ? 'selected' : '' %>>Admin</option>
                        </select>
                    <% } %>


                    <button type="submit">Save Changes</button>

                    <% if (user.role === "kingAdmin" || user.id === findUser.id) { %>
                        <a  href="/users/<%= findUser.id %>/passwordreset" class="edit-button">change Password</a>
                    <% } %>
                </form>
            </div>
       


    </div>

<%- include('../partials/footer') -%>

</body>
</html>
