<!-- editProfile.ejs -->
<%- include('../partials/header') -%>
<title>Edit <%= findUser.firstName %> <%= findUser.lastName %> Profile</title>
<link rel="stylesheet" href="/css/editProfile.css">
</head>
<body>
    <div class="container">
        <%- include('../partials/sidebar') -%>
        <div class="main-content">
            <h1>Edit User Profile</h1>
            <form action="/users/<%= findUser.id %>/edit" method="POST">
                <label for="firstName">First Name:</label>
                <input type="text" id="firstName" name="firstName" value="<%= findUser.firstName %>">

                <label for="lastName">Last Name:</label>
                <input type="text" id="lastName" name="lastName" value="<%= findUser.lastName %>">

                <label for="email">Email:</label>
                <input type="email" id="email" name="email" value="<%= findUser.email %>">

                
                <label for="role">Role:</label>
                    <select id="role" name="role">
                    <option value="admin" <%= findUser.role === 'admin' ? 'selected' : '' %>>Admin</option>
                    <option value="superAdmin" <%= findUser.role === 'superAdmin' ? 'selected' : '' %>>Super Admin</option>
                    <option value="kingAdmin" <%= findUser.role === 'kingAdmin' ? 'selected' : '' %>>King of the admins</option>
                </select>


                <label for="email">Email:</label>
                <select class="form-control" id="establishmentId" name="establishmentId" required>
                    <% establishments.forEach((establishment) => { %>
                      <option value="<%= establishment.id %>" <%= findUser.establishmentId === establishment.id ? 'selected' : '' %>><%= establishment.name %></option>
                    <% }); %>
                  </select>
                  

                <button type="submit">Save Changes</button>
            </form>
        </div>
    </div>

<%- include('../partials/footer') -%>

</body>
</html>
