<%- include('../partials/header') -%>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h4 class="mb-0">Créer un nouvel utilisateur</h4>
                </div>
                <div class="card-body" >
                    <form action="/users/create-user" method="POST">
                        <div class="mb-3">
                            <label for="firstName" class="form-label">Prénom</label>
                            <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Jane" required>
                        </div>
                        <div class="mb-3">
                            <label for="lastName" class="form-label">Nom de famille</label>
                            <input type="text" class="form-control" id="lastName" name="lastName" placeholder="Doe" required>
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Adresse e-mail</label>
                            <input type="email" class="form-control" id="email" name="email" placeholder="exemple@gmail.com" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Mot de passe</label>
                            <input type="password" class="form-control" id="password" name="password" placeholder="Az@123" required>
                        </div>
                        <div class="mb-3">
                            <label for="role" class="form-label">Rôle</label>
                            <% if (user.role === "kingAdmin") { %>
                                <select class="form-control" id="role" name="role" required>
                                    <option value="superAdmin">Super Admin</option>
                                    <option value="admin">Admin</option>
                                    <option value="editor">Rédacteur</option>
                                    <!-- Add other roles if needed -->
                                </select>
                           
                            <% } else if (user.role === "superAdmin")  { %>
                                <select class="form-control" id="role" name="role" required>
                                    <option value="admin">Admin</option>
                                    <option value="editor">Rédacteur</option>
                                    <!-- Add other roles if needed -->
                                </select>
                            
                            <%}else if (user.role === "admin" )  { %>
                                <select class="form-control" id="role" name="role" required>
                                    <option value="editor">Rédacteur</option>
                                    <!-- Add other roles if needed -->
                                </select>
                            <% } %>
                                
                        </div>
                        <% if (user.role === "kingAdmin") { %>
                            <div class="mb-3">
                                <label for="establishmentId" class="form-label">Select Etablissement</label>
                                <select class="form-control" id="establishmentId" name="establishmentId" required>
                                <% establishments.forEach((establishment) => { %>
                                <option value="<%= establishment.id %>"><%= establishment.name %></option>
                                <% }); %>
                                </select>
                            </div>
                        <% } %>
                        

                        <% if (user.role !== "editor") { %>
                            <div class="mb-3">
                              <label class="form-label">Select permissions</label>
                              <% permissions.forEach(permission => { %>
                                <div class="form-check">
                                  <input class="form-check-input" type="checkbox" id="permission_<%= permission.id %>" name="permissions[]" value="<%= permission.id %>">
                                  <label class="form-check-label" for="permission_<%= permission.id %>"><%= permission.name %></label>
                                </div>
                              <% }); %>
                            </div>
                        <% } %>

                        <div class="mb-3">
                            <label class="form-label">to whom</label>
                            <% if (user.role === "kingAdmin" || user.role === "superAdmin") { %>
                                
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="role_permission_superAdmin" name="roles[]" value="superAdmin">
                                        <label class="form-check-label" for="permission_superAdmin">Super Admin</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="permission_admin" name="roles[]" value="admin">
                                        <label class="form-check-label" for="permission_admin">Admin</label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="checkbox" id="permission_editor" name="roles[]" value="editor">
                                        <label class="form-check-label" for="permission_editor">Rédacteur</label>
                                    </div>
                                    
                                    <!-- Add other roles if needed -->
                           
                            <%}else if (user.role === "admin" )  { %>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="permission_admin" name="permissions[]" value="permission_admin">
                                    <label class="form-check-label" for="permission_admin">Admin</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" id="permission_editor" name="permissions[]" value="permission_editor">
                                    <label class="form-check-label" for="permission_editor">Rédacteur</label>
                                </div>
                            
                            <%} %>
                        </div>
                          
                        <div align="center">
                            <button type="submit"  class="btn btn-primary">Ajouter un utilisateur</button>
                            <!-- <a href="/login" class="btn btn-secondary">Login</a> -->
                        </div>
                    </form>

                    <% if (typeof errorMessage !== 'undefined') { %>
                        <div class="alert alert-danger mt-3">
                            <%= errorMessage %>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
    </div>
</div>



<%- include('../partials/footer') -%>
