<%- include('../partials/header') -%>
<title>Location, Users</title>
<link rel="stylesheet" href="/css/user.css">
</head>
<body>
    <div class="container">
        <%- include('../partials/sidebar') -%>
        <div class="main-content">
            <h1>All Users</h1>
            <table class="user-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                    <th>Profile</th>
                </tr>
                </thead>
                <tbody>
                <% users.forEach(user => { %>
                    <tr>
                        <td><%= user.firstName %> <%= user.lastName %></td>
                        <td><%= user.role %> </td>
                        <td><a href="/users/<%= user.id %>" class="view-profile-button">View Profile</a></td>
                    </tr>
                <% }) %>
                </tbody>
            </table>
        </div>
    </div>

<%- include('../partials/footer') -%>

</body>
</html>
