<%- include('../partials/header') -%>
<title>Location, Users</title>
<link rel="stylesheet" href="/css/user.css">
</head>
<body>
    <div class="container">
        <%- include('../partials/sidebar') -%>
        <% if (user.role === "kingAdmin") { %>

        <% } else if (user.role === "superAdmin") { %>

        <% } else { %>

        <% } %>
        <div class="main-content">
            <h1>All Users</h1>
            <table class="user-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Role</th>
                    
                    <th>Profile</th>
                </tr>
                </thead>
                <tbody>
                    <% if (user.role === "kingAdmin") { %>
                        <tr>
                            <td><%= user.firstName %> <%= user.lastName %> 👉👤</td>
                            <td><%= user.role %> </td>
                            <td><a href="/users/<%= user.id %>" class="view-profile-button">View Profile</a></td>
                        </tr>

                        <% users.forEach(userLoop => { %>
                            <% if (userLoop.id !== user.id) { %>
                                <tr>
                                    <td><%= userLoop.firstName %> <%= userLoop.lastName %></td>
                                    <td><%= userLoop.role %> </td>
                                    <td><a href="/users/<%= userLoop.id %>" class="view-profile-button">View Profile</a></td>
                                </tr>
                            <% } %>
                        <% }) %>
                    <% } else if (user.role === "superAdmin") { %>
                        <tr>
                            <td><%= user.firstName %> <%= user.lastName %> 👉👤</td>
                            <td><%= user.role %> </td>
                            <td><a href="/users/<%= user.id %>" class="view-profile-button">View Profile</a></td>
                        </tr>
                        <% users.forEach(userLoop => { %>
                            <%  if (userLoop.role !== "kingAdmin" && userLoop.role !== "superAdmin" && (userLoop.id !== user.id)) { %>
                                <tr>
                                    <td><%= userLoop.firstName %> <%= userLoop.lastName %></td>
                                    <td><%= userLoop.role %> </td>
                                    <td><a href="/users/<%= userLoop.id %>" class="view-profile-button">View Profile</a></td>
                                </tr>
                            <% } %>
                        <% }) %>

                        
                    <% } else if (user.role === "admin"){ %>
                        <tr>
                            <td><%= user.firstName %> <%= user.lastName %> 👉👤</td>
                            <td><%= user.role %> </td>
                            <td><a href="/users/<%= user.id %>" class="view-profile-button">View Profile</a></td>
                        </tr>
                        <% users.forEach(userLoop => { %>
                            <% if (userLoop.role !== "admin" && (userLoop.id !== user.id)) { %>
                                <tr>
                                    <td><%= userLoop.firstName %> <%= userLoop.lastName %></td>
                                    <td><%= userLoop.role %> </td>
                                    <td><a href="/users/<%= userLoop.id %>" class="view-profile-button">View Profile</a></td>
                                </tr>
                            <% } %>
                        <% }) %>
    
                    <% } else { %>
                        <tr>
                            <td><%= user.firstName %> <%= user.lastName %> 👉👤</td>
                            <td><%= user.role %> </td>
                            <td><a href="/users/<%= user.id %>" class="view-profile-button">View Profile</a></td>
                        </tr>
                    <% } %>
                    
                    
                </tbody>
            </table>

            <a href="/users/register" class="add-user-button">Add a user</a>
            <% if (typeof errorMessage !== 'undefined') { %>
                <div class="alert alert-danger mt-3">
                    <%= errorMessage %>
                </div>
            <% } %>
        </div>
    </div>

<%- include('../partials/footer') -%>

</body>
</html>
