<%- include('../partials/header') -%>
<title>Location, Salles</title>
<link rel="stylesheet" href="/css/tabsProducts.css">
</head>
<body>
 

  <div class="container">
    <%- include('../partials/sidebar') -%>
  
    <div class="main-content">

      <div class="tabs">
        <ul class="tab-list" id="tabList">
          <!-- First tab for all products -->
          <li class="tab-label" onclick="showTabContent('content-allProducts')">
            Toutes les salles
          </li>
          <% batiments.forEach((batiment) => { %>
            <li class="tab-label" onclick="showTabContent('content-<%= batiment.name %>')">
              <%= batiment.name %>
            </li>
          <% }); %>
        </ul>
        <div class="tab-content" id="tabContent">
          <!-- Content section for the first tab (All Products) -->
          <div class="content" id="content-allProducts">
            <% products.forEach((product) => { %>
              <div class="product-item">
                <div class="product-cart">
                  <p><strong>Nom:</strong> <%= product.name %></p>
                  <p><strong>Capacité:</strong> <%= product.capacity %></p>
                  <p><strong>Prix:</strong> <%= product.price %></p>
                  <% if (product.Batiment) { %> <!-- Check if product.Batiment is defined -->
                    <p><strong>Appartient au bâtiment:</strong> <%= product.Batiment.name %></p> <!-- Use product.Batiment.name -->
                    <p><strong>Adresse:</strong> <%= product.Batiment.adresse %></p>
                    
                  <% } else { %>
                    <p><strong>Appartient au bâtiment:</strong> Non spécifié</p>
                  <% } %>
                  <div class="button-container">
                    <a href="/products/<%= product.id %>" class="edit-button">Voir</a>
                    <a href="/products/<%= product.id %>/reserve" class="reserve-button">Réserve</a>
                  </div>
                  <!-- Add other product details as needed -->
                  
                </div>
              </div>
            <% }); %>
          </div>
          <!-- Content sections for other tabs -->
          <% batiments.forEach((batiment) => { %>
            <div class="content" id="content-<%= batiment.name %>" style="display: none;">
              <% products.forEach((product) => { %>
                <% if (product.batiment_id === batiment.id) { %>
                  <div class="product-item">
                    <div class="product-cart">
                      <p><strong>Nom:</strong> <%= product.name %></p>
                      <p><strong>Capacité:</strong> <%= product.capacity %></p>
                      <p><strong>Prix:</strong> <%= product.price %></p>
                      <p><strong>Adresse:</strong> <%= product.Batiment.adresse %></p>

                      <div class="button-container">
                        <a href="/products/<%= product.id %>" class="edit-button">Voir</a>
                        <a href="/products/<%= product.id %>/reserve" class="reserve-button">Réserve</a>
                      </div>
                      <!-- Add other product details as needed -->
                    </div>
                  </div>
                <% } %>
              <% }); %>
            </div>
          <% }); %>
          
          <a href="/products/create-salle" class="add-salle-button">Ajouter une salle</a>
        </div>
      </div>
      
    </div>
  </div>
  <script src="/js/tabs.js"></script>
</body>
</html>